.github {
  --daima-foreground: #444d56;
  --daima-blurred-spinner: #ffffff7d;
  --daima-dangerForeground: #ff525f;
  --daima-disabledForeground: rgba(97, 97, 97, 0.5);
  --daima-errorForeground: #cb2431;
  --daima-descriptionForeground: #6a737d;
  --daima-icon-foreground: #424242;
  --daima-focusBorder: #2188ff;
  --daima-textSeparator-foreground: #d1d5da;
  --daima-textLink-foreground: #0366d6;
  --daima-textLink-activeForeground: #005cc5;
  --daima-textPreformat-foreground: #586069;
  --daima-textBlockQuote-background: #fafbfc;
  --daima-textBlockQuote-border: #e1e4e8;
  --daima-textCodeBlock-background: #f6f8fa;
  --daima-widget-shadow: rgba(0, 0, 0, 0.16);
  --daima-input-background: #fafbfc;
  --daima-input-foreground: #2f363d;
  --daima-input-border: #e1e4e8;
  --daima-inputOption-activeBorder: rgba(0, 122, 204, 0);
  --daima-inputOption-hoverBackground: rgba(184, 184, 184, 0.31);
  --daima-inputOption-activeBackground: rgba(33, 136, 255, 0.2);
  --daima-inputOption-activeForeground: #000000;
  --daima-input-placeholderForeground: #959da5;
  --daima-inputValidation-infoBackground: #d6ecf2;
  --daima-inputValidation-infoBorder: #007acc;
  --daima-inputValidation-warningBackground: #f6f5d2;
  --daima-inputValidation-warningBorder: #b89500;
  --daima-inputValidation-errorBackground: #f2dede;
  --daima-inputValidation-errorBorder: #be1100;
  --daima-dropdown-background: #fafbfc;
  --daima-dropdown-listBackground: #ffffff;
  --daima-dropdown-foreground: #2f363d;
  --daima-dropdown-border: #e1e4e8;
  --daima-checkbox-background: #fafbfc;
  --daima-checkbox-foreground: #2f363d;
  --daima-checkbox-border: #d1d5da;
  --daima-button-foreground: #ffffff;
  --daima-button-separator: rgba(255, 255, 255, 0.4);
  --daima-button-background: #159739;
  --daima-button-hoverBackground: #138934;
  --daima-button-secondaryForeground: #1b1f23;
  --daima-button-secondaryBackground: #e1e4e8;
  --daima-button-secondaryHoverBackground: #d1d5da;
  --daima-badge-background: #dbedff;
  --daima-badge-foreground: #005cc5;
  --daima-scrollbar-shadow: rgba(106, 115, 125, 0.2);
  --daima-scrollbarSlider-background: rgba(149, 157, 165, 0.2);
  --daima-scrollbarSlider-hoverBackground: rgba(149, 157, 165, 0.27);
  --daima-scrollbarSlider-activeBackground: rgba(149, 157, 165, 0.53);
  --daima-progressBar-background: #2188ff;
  --daima-editorError-foreground: #cb2431;
  --daima-editorWarning-foreground: #f9c513;
  --daima-editorInfo-foreground: #1a85ff;
  --daima-editorHint-foreground: #6c6c6c;
  --daima-sash-hoverBorder: #2188ff;
  --daima-editor-background: #ffffff;
  --daima-editor-foreground: #24292e;
  --daima-editorStickyScroll-background: #ffffff;
  --daima-editorStickyScrollHover-background: #f0f0f0;
  --daima-editorWidget-background: #f6f8fa;
  --daima-editorWidget-foreground: #444d56;
  --daima-editorWidget-border: #c8c8c8;
  --daima-quickInput-background: #fafbfc;
  --daima-quickInput-foreground: #2f363d;
  --daima-quickInputTitle-background: rgba(0, 0, 0, 0.06);
  --daima-pickerGroup-foreground: #2f363d;
  --daima-pickerGroup-border: #e1e4e8;
  --daima-keybindingLabel-background: rgba(221, 221, 221, 0.4);
  --daima-keybindingLabel-foreground: #555555;
  --daima-keybindingLabel-border: rgba(204, 204, 204, 0.4);
  --daima-keybindingLabel-bottomBorder: rgba(187, 187, 187, 0.4);
  --daima-editor-selectionBackground: rgba(3, 102, 214, 0.14);
  --daima-editor-inactiveSelectionBackground: rgba(3, 102, 214, 0.07);
  --daima-editor-selectionHighlightBackground: rgba(52, 208, 88, 0.25);
  --daima-editor-selectionHighlightBorder: rgba(52, 208, 88, 0);
  --daima-editor-findMatchBackground: #ffdf5d;
  --daima-editor-findMatchHighlightBackground: rgba(255, 223, 93, 0.4);
  --daima-editor-findRangeHighlightBackground: rgba(180, 180, 180, 0.3);
  --daima-searchEditor-findMatchBackground: rgba(255, 223, 93, 0.26);
  --daima-editor-hoverHighlightBackground: rgba(173, 214, 255, 0.15);
  --daima-editorHoverWidget-background: #f6f8fa;
  --daima-editorHoverWidget-foreground: #444d56;
  --daima-editorHoverWidget-border: #c8c8c8;
  --daima-editorHoverWidget-statusBarBackground: #e6ecf1;
  --daima-editorLink-activeForeground: #0000ff;
  --daima-editorInlayHint-foreground: rgba(0, 92, 197, 0.8);
  --daima-editorInlayHint-background: rgba(219, 237, 255, 0.3);
  --daima-editorInlayHint-typeForeground: rgba(0, 92, 197, 0.8);
  --daima-editorInlayHint-typeBackground: rgba(219, 237, 255, 0.3);
  --daima-editorInlayHint-parameterForeground: rgba(0, 92, 197, 0.8);
  --daima-editorInlayHint-parameterBackground: rgba(219, 237, 255, 0.3);
  --daima-editorLightBulb-foreground: #ddb100;
  --daima-editorLightBulbAutoFix-foreground: #007acc;
  --daima-diffEditor-insertedTextBackground: rgba(52, 208, 88, 0.13);
  --daima-diffEditor-removedTextBackground: rgba(215, 58, 73, 0.13);
  --daima-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --daima-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --daima-diffEditor-diagonalFill: rgba(34, 34, 34, 0.2);
  --daima-list-focusBackground: #cce5ff;
  --daima-list-focusOutline: #2188ff;
  --daima-list-activeSelectionBackground: #e2e5e9;
  --daima-list-activeSelectionForeground: #2f363d;
  --daima-list-inactiveSelectionBackground: #e8eaed;
  --daima-list-inactiveSelectionForeground: #2f363d;
  --daima-list-inactiveFocusBackground: #dbedff;
  --daima-list-hoverBackground: #ebf0f4;
  --daima-list-hoverForeground: #2f363d;
  --daima-list-dropBackground: #d6ebff;
  --daima-list-highlightForeground: #0066bf;
  --daima-list-focusHighlightForeground: #0066bf;
  --daima-list-invalidItemForeground: #b89500;
  --daima-list-errorForeground: #b01011;
  --daima-list-warningForeground: #855f00;
  --daima-listFilterWidget-background: #f6f8fa;
  --daima-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --daima-listFilterWidget-noMatchesOutline: #be1100;
  --daima-listFilterWidget-shadow: rgba(0, 0, 0, 0.16);
  --daima-list-filterMatchBackground: rgba(255, 223, 93, 0.4);
  --daima-tree-indentGuidesStroke: #e1e4e8;
  --daima-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
  --daima-tree-tableOddRowsBackground: rgba(68, 77, 86, 0.04);
  --daima-list-deemphasizedForeground: #8e8e90;
  --daima-quickInputList-focusForeground: #2f363d;
  --daima-quickInputList-focusBackground: #e2e5e9;
  --daima-menu-foreground: #444d56;
  --daima-menu-background: #fafbfc;
  --daima-menu-selectionForeground: #2f363d;
  --daima-menu-selectionBackground: #e2e5e9;
  --daima-menu-separatorBackground: #d4d4d4;
  --daima-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
  --daima-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
  --daima-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
  --daima-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
  --daima-breadcrumb-foreground: #6a737d;
  --daima-breadcrumb-background: #ffffff;
  --daima-breadcrumb-focusForeground: #2f363d;
  --daima-breadcrumb-activeSelectionForeground: #586069;
  --daima-breadcrumbPicker-background: #fafbfc;
  --daima-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --daima-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --daima-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --daima-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --daima-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --daima-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --daima-editorOverviewRuler-currentContentForeground: rgba(
    64,
    200,
    174,
    0.5
  );
  --daima-editorOverviewRuler-incomingContentForeground: rgba(
    64,
    166,
    255,
    0.5
  );
  --daima-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --daima-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --daima-editorOverviewRuler-selectionHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --daima-minimap-findMatchHighlight: #d18616;
  --daima-minimap-selectionOccurrenceHighlight: #c9c9c9;
  --daima-minimap-selectionHighlight: #add6ff;
  --daima-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --daima-minimap-warningHighlight: #f9c513;
  --daima-minimap-foregroundOpacity: #000000;
  --daima-minimapSlider-background: rgba(149, 157, 165, 0.1);
  --daima-minimapSlider-hoverBackground: rgba(149, 157, 165, 0.13);
  --daima-minimapSlider-activeBackground: rgba(149, 157, 165, 0.27);
  --daima-problemsErrorIcon-foreground: #cb2431;
  --daima-problemsWarningIcon-foreground: #f9c513;
  --daima-problemsInfoIcon-foreground: #1a85ff;
  --daima-charts-foreground: #444d56;
  --daima-charts-lines: rgba(68, 77, 86, 0.5);
  --daima-charts-red: #cb2431;
  --daima-charts-blue: #1a85ff;
  --daima-charts-yellow: #f9c513;
  --daima-charts-orange: #d18616;
  --daima-charts-green: #388a34;
  --daima-charts-purple: #652d90;
  --daima-editor-lineHighlightBackground: #f6f8fa;
  --daima-editor-lineHighlightBorder: #eeeeee;
  --daima-editor-rangeHighlightBackground: rgba(253, 255, 0, 0.2);
  --daima-editor-symbolHighlightBackground: rgba(255, 223, 93, 0.4);
  --daima-editorCursor-foreground: #044289;
  --daima-editorWhitespace-foreground: #d1d5da;
  --daima-editorIndentGuide-background: #eff2f6;
  --daima-editorIndentGuide-activeBackground: #d7dbe0;
  --daima-editorLineNumber-foreground: rgba(27, 31, 35, 0.3);
  --daima-editorActiveLineNumber-foreground: #0b216f;
  --daima-editorLineNumber-activeForeground: #24292e;
  --daima-editorRuler-foreground: #d3d3d3;
  --daima-editorCodeLens-foreground: #919191;
  --daima-editorBracketMatch-background: rgba(52, 208, 88, 0.25);
  --daima-editorBracketMatch-border: rgba(52, 208, 88, 0);
  --daima-editorOverviewRuler-border: #ffffff;
  --daima-editorGutter-background: #ffffff;
  --daima-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
  --daima-editorGhostText-foreground: rgba(0, 0, 0, 0.47);
  --daima-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --daima-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --daima-editorOverviewRuler-warningForeground: #f9c513;
  --daima-editorOverviewRuler-infoForeground: #1a85ff;
  --daima-editorBracketHighlight-foreground1: #005cc5;
  --daima-editorBracketHighlight-foreground2: #e36209;
  --daima-editorBracketHighlight-foreground3: #5a32a3;
  --daima-editorBracketHighlight-foreground4: #005cc5;
  --daima-editorBracketHighlight-foreground5: #e36209;
  --daima-editorBracketHighlight-foreground6: #5a32a3;
  --daima-editorBracketHighlight-unexpectedBracket-foreground: rgba(
    255,
    18,
    18,
    0.8
  );
  --daima-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --daima-editorUnicodeHighlight-border: #cea33d;
  --daima-editorUnicodeHighlight-background: rgba(206, 163, 61, 0.08);
  --daima-symbolIcon-arrayForeground: #444d56;
  --daima-symbolIcon-booleanForeground: #444d56;
  --daima-symbolIcon-classForeground: #d67e00;
  --daima-symbolIcon-colorForeground: #444d56;
  --daima-symbolIcon-constantForeground: #444d56;
  --daima-symbolIcon-constructorForeground: #652d90;
  --daima-symbolIcon-enumeratorForeground: #d67e00;
  --daima-symbolIcon-enumeratorMemberForeground: #007acc;
  --daima-symbolIcon-eventForeground: #d67e00;
  --daima-symbolIcon-fieldForeground: #007acc;
  --daima-symbolIcon-fileForeground: #444d56;
  --daima-symbolIcon-folderForeground: #444d56;
  --daima-symbolIcon-functionForeground: #652d90;
  --daima-symbolIcon-interfaceForeground: #007acc;
  --daima-symbolIcon-keyForeground: #444d56;
  --daima-symbolIcon-keywordForeground: #444d56;
  --daima-symbolIcon-methodForeground: #652d90;
  --daima-symbolIcon-moduleForeground: #444d56;
  --daima-symbolIcon-namespaceForeground: #444d56;
  --daima-symbolIcon-nullForeground: #444d56;
  --daima-symbolIcon-numberForeground: #444d56;
  --daima-symbolIcon-objectForeground: #444d56;
  --daima-symbolIcon-operatorForeground: #444d56;
  --daima-symbolIcon-packageForeground: #444d56;
  --daima-symbolIcon-propertyForeground: #444d56;
  --daima-symbolIcon-referenceForeground: #444d56;
  --daima-symbolIcon-snippetForeground: #444d56;
  --daima-symbolIcon-stringForeground: #444d56;
  --daima-symbolIcon-structForeground: #444d56;
  --daima-symbolIcon-textForeground: #444d56;
  --daima-symbolIcon-typeParameterForeground: #444d56;
  --daima-symbolIcon-unitForeground: #444d56;
  --daima-symbolIcon-variableForeground: #007acc;
  --daima-editorHoverWidget-highlightForeground: #0066bf;
  --daima-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --daima-editor-foldBackground: rgba(209, 213, 218, 0.07);
  --daima-editorGutter-foldingControlForeground: #424242;
  --daima-editor-linkedEditingBackground: rgba(3, 102, 214, 0.07);
  --daima-editor-wordHighlightBackground: rgba(52, 208, 88, 0);
  --daima-editor-wordHighlightStrongBackground: rgba(52, 208, 88, 0);
  --daima-editor-wordHighlightBorder: rgba(36, 148, 62, 0.6);
  --daima-editor-wordHighlightStrongBorder: rgba(36, 148, 62, 0.31);
  --daima-editorOverviewRuler-wordHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --daima-editorOverviewRuler-wordHighlightStrongForeground: rgba(
    192,
    160,
    192,
    0.8
  );
  --daima-peekViewTitle-background: rgba(26, 133, 255, 0.1);
  --daima-peekViewTitleLabel-foreground: #000000;
  --daima-peekViewTitleDescription-foreground: #616161;
  --daima-peekView-border: #1a85ff;
  --daima-peekViewResult-background: #f3f3f3;
  --daima-peekViewResult-lineForeground: #646465;
  --daima-peekViewResult-fileForeground: #1e1e1e;
  --daima-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
  --daima-peekViewResult-selectionForeground: #6c6c6c;
  --daima-peekViewEditor-background: #f2f8fc;
  --daima-peekViewEditorGutter-background: #f2f8fc;
  --daima-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
  --daima-peekViewEditor-matchHighlightBackground: rgba(245, 216, 2, 0.87);
  --daima-editorMarkerNavigationError-background: #cb2431;
  --daima-editorMarkerNavigationError-headerBackground: rgba(203, 36, 49, 0.1);
  --daima-editorMarkerNavigationWarning-background: #f9c513;
  --daima-editorMarkerNavigationWarning-headerBackground: rgba(
    249,
    197,
    19,
    0.1
  );
  --daima-editorMarkerNavigationInfo-background: #1a85ff;
  --daima-editorMarkerNavigationInfo-headerBackground: rgba(26, 133, 255, 0.1);
  --daima-editorMarkerNavigation-background: #ffffff;
  --daima-editorSuggestWidget-background: #f6f8fa;
  --daima-editorSuggestWidget-border: #c8c8c8;
  --daima-editorSuggestWidget-foreground: #24292e;
  --daima-editorSuggestWidget-selectedForeground: #2f363d;
  --daima-editorSuggestWidget-selectedBackground: #e2e5e9;
  --daima-editorSuggestWidget-highlightForeground: #0066bf;
  --daima-editorSuggestWidget-focusHighlightForeground: #0066bf;
  --daima-editorSuggestWidgetStatus-foreground: rgba(36, 41, 46, 0.5);
  --daima-tab-activeBackground: #ffffff;
  --daima-tab-unfocusedActiveBackground: #ffffff;
  --daima-tab-inactiveBackground: #f6f8fa;
  --daima-tab-unfocusedInactiveBackground: #f6f8fa;
  --daima-tab-activeForeground: #2f363d;
  --daima-tab-inactiveForeground: #6a737d;
  --daima-tab-unfocusedActiveForeground: rgba(47, 54, 61, 0.7);
  --daima-tab-unfocusedInactiveForeground: rgba(106, 115, 125, 0.5);
  --daima-tab-hoverBackground: #ffffff;
  --daima-tab-unfocusedHoverBackground: #ffffff;
  --daima-tab-border: #e1e4e8;
  --daima-tab-lastPinnedBorder: #e1e4e8;
  --daima-tab-activeBorder: #ffffff;
  --daima-tab-unfocusedActiveBorder: #ffffff;
  --daima-tab-activeBorderTop: #f9826c;
  --daima-tab-unfocusedActiveBorderTop: #e1e4e8;
  --daima-tab-activeModifiedBorder: #33aaee;
  --daima-tab-inactiveModifiedBorder: rgba(51, 170, 238, 0.5);
  --daima-tab-unfocusedActiveModifiedBorder: rgba(51, 170, 238, 0.7);
  --daima-tab-unfocusedInactiveModifiedBorder: rgba(51, 170, 238, 0.25);
  --daima-editorPane-background: #ffffff;
  --daima-editorGroupHeader-tabsBackground: #f6f8fa;
  --daima-editorGroupHeader-tabsBorder: #e1e4e8;
  --daima-editorGroupHeader-noTabsBackground: #ffffff;
  --daima-editorGroup-border: #e1e4e8;
  --daima-editorGroup-dropBackground: rgba(38, 119, 203, 0.18);
  --daima-editorGroup-dropIntoPromptForeground: #444d56;
  --daima-editorGroup-dropIntoPromptBackground: #f6f8fa;
  --daima-sideBySideEditor-horizontalBorder: #e1e4e8;
  --daima-sideBySideEditor-verticalBorder: #e1e4e8;
  --daima-panel-background: #f6f8fa;
  --daima-panel-border: #e1e4e8;
  --daima-panelTitle-activeForeground: #2f363d;
  --daima-panelTitle-inactiveForeground: #6a737d;
  --daima-panelTitle-activeBorder: #f9826c;
  --daima-panelInput-border: #e1e4e8;
  --daima-panel-dropBorder: #2f363d;
  --daima-panelSection-dropBackground: rgba(38, 119, 203, 0.18);
  --daima-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --daima-panelSection-border: #e1e4e8;
  --daima-banner-background: #949fae;
  --daima-banner-foreground: #2f363d;
  --daima-banner-iconForeground: #1a85ff;
  --daima-statusBar-foreground: #586069;
  --daima-statusBar-noFolderForeground: #586069;
  --daima-statusBar-background: #ffffff;
  --daima-statusBar-noFolderBackground: #ffffff;
  --daima-statusBar-border: #e1e4e8;
  --daima-statusBar-focusBorder: #586069;
  --daima-statusBar-noFolderBorder: #e1e4e8;
  --daima-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --daima-statusBarItem-focusBorder: #586069;
  --daima-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --daima-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
  --daima-statusBarItem-prominentForeground: #586069;
  --daima-statusBarItem-prominentBackground: #e8eaed;
  --daima-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --daima-statusBarItem-errorBackground: #7a161e;
  --daima-statusBarItem-errorForeground: #ffffff;
  --daima-statusBarItem-warningBackground: #9d7904;
  --daima-statusBarItem-warningForeground: #ffffff;
  --daima-activityBar-background: #ffffff;
  --daima-activityBar-foreground: #2f363d;
  --daima-activityBar-inactiveForeground: #959da5;
  --daima-activityBar-border: #e1e4e8;
  --daima-activityBar-activeBorder: #f9826c;
  --daima-activityBar-dropBorder: #2f363d;
  --daima-activityBarBadge-background: #2188ff;
  --daima-activityBarBadge-foreground: #ffffff;
  --daima-statusBarItem-remoteBackground: #ffffff;
  --daima-statusBarItem-remoteForeground: #586069;
  --daima-extensionBadge-remoteBackground: #2188ff;
  --daima-extensionBadge-remoteForeground: #ffffff;
  --daima-sideBar-background: #f6f8fa;
  --daima-sideBar-foreground: #586069;
  --daima-sideBar-border: #e1e4e8;
  --daima-sideBarTitle-foreground: #2f363d;
  --daima-sideBar-dropBackground: rgba(38, 119, 203, 0.18);
  --daima-sideBarSectionHeader-background: #f6f8fa;
  --daima-sideBarSectionHeader-foreground: #2f363d;
  --daima-sideBarSectionHeader-border: #e1e4e8;
  --daima-titleBar-activeForeground: #2f363d;
  --daima-titleBar-inactiveForeground: #6a737d;
  --daima-titleBar-activeBackground: #ffffff;
  --daima-titleBar-inactiveBackground: #f6f8fa;
  --daima-titleBar-border: #e1e4e8;
  --daima-menubar-selectionForeground: #2f363d;
  --daima-menubar-selectionBackground: rgba(184, 184, 184, 0.31);
  --daima-notifications-foreground: #2f363d;
  --daima-notifications-background: #fafbfc;
  --daima-notificationLink-foreground: #0366d6;
  --daima-notificationCenterHeader-foreground: #6a737d;
  --daima-notificationCenterHeader-background: #e1e4e8;
  --daima-notifications-border: #e1e4e8;
  --daima-notificationsErrorIcon-foreground: #d73a49;
  --daima-notificationsWarningIcon-foreground: #e36209;
  --daima-notificationsInfoIcon-foreground: #005cc5;
  --daima-commandCenter-foreground: #2f363d;
  --daima-commandCenter-activeForeground: #2f363d;
  --daima-commandCenter-activeBackground: rgba(184, 184, 184, 0.31);
  --daima-commandCenter-border: #e1e4e8;
  --daima-editorCommentsWidget-resolvedBorder: rgba(97, 97, 97, 0.5);
  --daima-editorCommentsWidget-unresolvedBorder: #1a85ff;
  --daima-editorCommentsWidget-rangeBackground: rgba(26, 133, 255, 0.1);
  --daima-editorCommentsWidget-rangeBorder: rgba(26, 133, 255, 0.4);
  --daima-editorCommentsWidget-rangeActiveBackground: rgba(26, 133, 255, 0.1);
  --daima-editorCommentsWidget-rangeActiveBorder: rgba(26, 133, 255, 0.4);
  --daima-editorGutter-commentRangeForeground: #dbdee3;
  --daima-debugToolBar-background: #ffffff;
  --daima-debugIcon-startForeground: #388a34;
  --daima-editor-stackFrameHighlightBackground: rgba(255, 211, 61, 0.2);
  --daima-editor-focusedStackFrameHighlightBackground: rgba(40, 167, 69, 0.14);
  --daima-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
  --daima-mergeEditor-change-word-background: rgba(156, 204, 44, 0.4);
  --daima-mergeEditor-conflict-unhandledUnfocused-border: rgba(
    255,
    166,
    0,
    0.48
  );
  --daima-mergeEditor-conflict-unhandledFocused-border: #ffa600;
  --daima-mergeEditor-conflict-handledUnfocused-border: rgba(
    134,
    134,
    134,
    0.29
  );
  --daima-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
  --daima-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(
    173,
    172,
    168,
    0.93
  );
  --daima-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
  --daima-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
  --daima-settings-headerForeground: #2f363d;
  --daima-settings-modifiedItemIndicator: #2188ff;
  --daima-settings-headerBorder: #e1e4e8;
  --daima-settings-sashBorder: #e1e4e8;
  --daima-settings-dropdownBackground: #fafbfc;
  --daima-settings-dropdownForeground: #2f363d;
  --daima-settings-dropdownBorder: #e1e4e8;
  --daima-settings-dropdownListBorder: #c8c8c8;
  --daima-settings-checkboxBackground: #fafbfc;
  --daima-settings-checkboxForeground: #2f363d;
  --daima-settings-checkboxBorder: #d1d5da;
  --daima-settings-textInputBackground: #fafbfc;
  --daima-settings-textInputForeground: #2f363d;
  --daima-settings-textInputBorder: #e1e4e8;
  --daima-settings-numberInputBackground: #fafbfc;
  --daima-settings-numberInputForeground: #2f363d;
  --daima-settings-numberInputBorder: #e1e4e8;
  --daima-settings-focusedRowBackground: rgba(235, 240, 244, 0.6);
  --daima-settings-rowHoverBackground: rgba(235, 240, 244, 0.3);
  --daima-settings-focusedRowBorder: rgba(0, 0, 0, 0.12);
  --daima-terminal-foreground: #586069;
  --daima-terminalCursor-foreground: #005cc5;
  --daima-terminalCursor-background: #d1d5da;
  --daima-terminal-selectionBackground: rgba(3, 102, 214, 0.14);
  --daima-terminal-inactiveSelectionBackground: rgba(3, 102, 214, 0.07);
  --daima-terminalCommandDecoration-defaultBackground: rgba(0, 0, 0, 0.25);
  --daima-terminalCommandDecoration-successBackground: #2090d3;
  --daima-terminalCommandDecoration-errorBackground: #e51400;
  --daima-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
  --daima-terminal-border: #e1e4e8;
  --daima-terminal-findMatchBackground: #ffdf5d;
  --daima-terminal-findMatchHighlightBackground: rgba(255, 223, 93, 0.4);
  --daima-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --daima-terminal-dropBackground: rgba(38, 119, 203, 0.18);
  --daima-terminal-tab-activeBorder: #f9826c;
  --daima-testing-iconFailed: #f14c4c;
  --daima-testing-iconErrored: #f14c4c;
  --daima-testing-iconPassed: #73c991;
  --daima-testing-runAction: #73c991;
  --daima-testing-iconQueued: #cca700;
  --daima-testing-iconUnset: #848484;
  --daima-testing-iconSkipped: #848484;
  --daima-testing-peekBorder: #cb2431;
  --daima-testing-peekHeaderBackground: rgba(203, 36, 49, 0.1);
  --daima-testing-message-error-decorationForeground: #cb2431;
  --daima-testing-message-error-lineBackground: rgba(255, 0, 0, 0.2);
  --daima-testing-message-info-decorationForeground: rgba(36, 41, 46, 0.5);
  --daima-welcomePage-tileBackground: #f6f8fa;
  --daima-welcomePage-tileHoverBackground: #d6dfe8;
  --daima-welcomePage-tileShadow: rgba(0, 0, 0, 0.16);
  --daima-welcomePage-progress-background: #fafbfc;
  --daima-welcomePage-progress-foreground: #0366d6;
  --daima-debugExceptionWidget-border: #a31515;
  --daima-debugExceptionWidget-background: #f1dfde;
  --daima-ports-iconRunningProcessForeground: #ffffff;
  --daima-statusBar-debuggingBackground: #f9826c;
  --daima-statusBar-debuggingForeground: #ffffff;
  --daima-statusBar-debuggingBorder: #e1e4e8;
  --daima-statusBar-offlineBackground: #6c1717;
  --daima-statusBar-offlineForeground: #586069;
  --daima-statusBar-offlineBorder: #e1e4e8;
  --daima-editor-inlineValuesForeground: rgba(0, 0, 0, 0.5);
  --daima-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --daima-editorGutter-modifiedBackground: #2188ff;
  --daima-editorGutter-addedBackground: #28a745;
  --daima-editorGutter-deletedBackground: #d73a49;
  --daima-minimapGutter-modifiedBackground: #2188ff;
  --daima-minimapGutter-addedBackground: #28a745;
  --daima-minimapGutter-deletedBackground: #d73a49;
  --daima-editorOverviewRuler-modifiedForeground: rgba(33, 136, 255, 0.6);
  --daima-editorOverviewRuler-addedForeground: rgba(40, 167, 69, 0.6);
  --daima-editorOverviewRuler-deletedForeground: rgba(215, 58, 73, 0.6);
  --daima-debugIcon-breakpointForeground: #e51400;
  --daima-debugIcon-breakpointDisabledForeground: #848484;
  --daima-debugIcon-breakpointUnverifiedForeground: #848484;
  --daima-debugIcon-breakpointCurrentStackframeForeground: #be8700;
  --daima-debugIcon-breakpointStackframeForeground: #89d185;
  --daima-notebook-cellBorderColor: #e8eaed;
  --daima-notebook-focusedEditorBorder: #2188ff;
  --daima-notebookStatusSuccessIcon-foreground: #388a34;
  --daima-notebookStatusErrorIcon-foreground: #cb2431;
  --daima-notebookStatusRunningIcon-foreground: #444d56;
  --daima-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --daima-notebook-selectedCellBackground: #e8eaed;
  --daima-notebook-selectedCellBorder: #e8eaed;
  --daima-notebook-focusedCellBorder: #2188ff;
  --daima-notebook-inactiveFocusedCellBorder: #e8eaed;
  --daima-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
  --daima-notebook-cellInsertionIndicator: #2188ff;
  --daima-notebookScrollbarSlider-background: rgba(149, 157, 165, 0.2);
  --daima-notebookScrollbarSlider-hoverBackground: rgba(149, 157, 165, 0.27);
  --daima-notebookScrollbarSlider-activeBackground: rgba(149, 157, 165, 0.53);
  --daima-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
  --daima-notebook-cellEditorBackground: #f6f8fa;
  --daima-notebook-editorBackground: #ffffff;
  --daima-keybindingTable-headerBackground: rgba(68, 77, 86, 0.04);
  --daima-keybindingTable-rowsBackground: rgba(68, 77, 86, 0.04);
  --daima-scm-providerBorder: #c8c8c8;
  --daima-searchEditor-textInputBorder: #e1e4e8;
  --daima-debugTokenExpression-name: #9b46b0;
  --daima-debugTokenExpression-value: rgba(108, 108, 108, 0.8);
  --daima-debugTokenExpression-string: #a31515;
  --daima-debugTokenExpression-boolean: #0000ff;
  --daima-debugTokenExpression-number: #098658;
  --daima-debugTokenExpression-error: #e51400;
  --daima-debugView-exceptionLabelForeground: #ffffff;
  --daima-debugView-exceptionLabelBackground: #a31515;
  --daima-debugView-stateLabelForeground: #444d56;
  --daima-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --daima-debugView-valueChangedHighlight: #569cd6;
  --daima-debugConsole-infoForeground: #1a85ff;
  --daima-debugConsole-warningForeground: #f9c513;
  --daima-debugConsole-errorForeground: #cb2431;
  --daima-debugConsole-sourceForeground: #444d56;
  --daima-debugConsoleInputIcon-foreground: #444d56;
  --daima-debugIcon-pauseForeground: #007acc;
  --daima-debugIcon-stopForeground: #a1260d;
  --daima-debugIcon-disconnectForeground: #a1260d;
  --daima-debugIcon-restartForeground: #388a34;
  --daima-debugIcon-stepOverForeground: #007acc;
  --daima-debugIcon-stepIntoForeground: #007acc;
  --daima-debugIcon-stepOutForeground: #007acc;
  --daima-debugIcon-continueForeground: #007acc;
  --daima-debugIcon-stepBackForeground: #007acc;
  --daima-extensionButton-prominentBackground: #159739;
  --daima-extensionButton-prominentForeground: #ffffff;
  --daima-extensionButton-prominentHoverBackground: #138934;
  --daima-extensionIcon-starForeground: #df6100;
  --daima-extensionIcon-verifiedForeground: #0366d6;
  --daima-extensionIcon-preReleaseForeground: #1d9271;
  --daima-extensionIcon-sponsorForeground: #b51e78;
  --daima-terminal-ansiBlack: #24292e;
  --daima-terminal-ansiRed: #d73a49;
  --daima-terminal-ansiGreen: #28a745;
  --daima-terminal-ansiYellow: #dbab09;
  --daima-terminal-ansiBlue: #0366d6;
  --daima-terminal-ansiMagenta: #5a32a3;
  --daima-terminal-ansiCyan: #1b7c83;
  --daima-terminal-ansiWhite: #6a737d;
  --daima-terminal-ansiBrightBlack: #959da5;
  --daima-terminal-ansiBrightRed: #cb2431;
  --daima-terminal-ansiBrightGreen: #22863a;
  --daima-terminal-ansiBrightYellow: #b08800;
  --daima-terminal-ansiBrightBlue: #005cc5;
  --daima-terminal-ansiBrightMagenta: #5a32a3;
  --daima-terminal-ansiBrightCyan: #3192aa;
  --daima-terminal-ansiBrightWhite: #d1d5da;
  --daima-interactive-activeCodeBorder: #1a85ff;
  --daima-interactive-inactiveCodeBorder: #e8eaed;
  --daima-remoteHub-decorations-addedForegroundColor: #587c0c;
  --daima-remoteHub-decorations-modifiedForegroundColor: #895503;
  --daima-remoteHub-decorations-deletedForegroundColor: #ad0707;
  --daima-remoteHub-decorations-conflictForegroundColor: #ad0707;
  --daima-remoteHub-decorations-incomingAddedForegroundColor: #587c0c;
  --daima-remoteHub-decorations-incomingModifiedForegroundColor: #895503;
  --daima-remoteHub-decorations-incomingDeletedForegroundColor: #ad0707;
  --daima-remoteHub-decorations-incomingRenamedForegroundColor: #007100;
  --daima-remoteHub-decorations-possibleConflictForegroundColor: #855f00;
  --daima-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #895503;
}
