.tomorrow-night-blue {
  --daima-foreground: #cccccc;
  --daima-blurred-spinner: #7584a37d;
  --daima-dangerForeground: #ff525f;
  --daima-disabledForeground: rgba(204, 204, 204, 0.5);
  --daima-errorForeground: #a92049;
  --daima-descriptionForeground: rgba(204, 204, 204, 0.7);
  --daima-icon-foreground: #c5c5c5;
  --daima-focusBorder: #bbdaff;
  --daima-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --daima-textLink-foreground: #3794ff;
  --daima-textLink-activeForeground: #3794ff;
  --daima-textPreformat-foreground: #d7ba7d;
  --daima-textBlockQuote-background: rgba(127, 127, 127, 0.1);
  --daima-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --daima-textCodeBlock-background: rgba(10, 10, 10, 0.4);
  --daima-widget-shadow: rgba(0, 0, 0, 0.36);
  --daima-input-background: #001733;
  --daima-input-foreground: #cccccc;
  --daima-inputOption-activeBorder: rgba(0, 122, 204, 0);
  --daima-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
  --daima-inputOption-activeBackground: rgba(187, 218, 255, 0.4);
  --daima-inputOption-activeForeground: #ffffff;
  --daima-input-placeholderForeground: rgba(204, 204, 204, 0.5);
  --daima-inputValidation-infoBackground: #063b49;
  --daima-inputValidation-infoBorder: #007acc;
  --daima-inputValidation-warningBackground: #352a05;
  --daima-inputValidation-warningBorder: #b89500;
  --daima-inputValidation-errorBackground: #5a1d1d;
  --daima-inputValidation-errorBorder: #be1100;
  --daima-dropdown-background: #001733;
  --daima-dropdown-foreground: #f0f0f0;
  --daima-dropdown-border: #001733;
  --daima-checkbox-background: #001733;
  --daima-checkbox-foreground: #f0f0f0;
  --daima-checkbox-border: #001733;
  --daima-button-foreground: #ffffff;
  --daima-button-separator: rgba(255, 255, 255, 0.4);
  --daima-button-background: #0e639c;
  --daima-button-hoverBackground: #1177bb;
  --daima-button-secondaryForeground: #ffffff;
  --daima-button-secondaryBackground: #3a3d41;
  --daima-button-secondaryHoverBackground: #45494e;
  --daima-badge-background: rgba(187, 218, 255, 0.8);
  --daima-badge-foreground: #001733;
  --daima-scrollbar-shadow: #000000;
  --daima-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --daima-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --daima-scrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
  --daima-progressBar-background: rgba(187, 218, 255, 0.8);
  --daima-editorError-foreground: #f14c4c;
  --daima-editorWarning-foreground: #cca700;
  --daima-editorInfo-foreground: #3794ff;
  --daima-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --daima-sash-hoverBorder: #bbdaff;
  --daima-editor-background: #002451;
  --daima-editor-foreground: #ffffff;
  --daima-editorStickyScroll-background: #002451;
  --daima-editorStickyScrollHover-background: #2a2d2e;
  --daima-editorWidget-background: #001c40;
  --daima-editorWidget-foreground: #cccccc;
  --daima-editorWidget-border: #454545;
  --daima-quickInput-background: #001c40;
  --daima-quickInput-foreground: #cccccc;
  --daima-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --daima-pickerGroup-foreground: #bbdaff;
  --daima-pickerGroup-border: #3f3f46;
  --daima-keybindingLabel-background: rgba(128, 128, 128, 0.17);
  --daima-keybindingLabel-foreground: #cccccc;
  --daima-keybindingLabel-border: rgba(51, 51, 51, 0.6);
  --daima-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
  --daima-editor-selectionBackground: #003f8e;
  --daima-editor-inactiveSelectionBackground: rgba(0, 63, 142, 0.5);
  --daima-editor-selectionHighlightBackground: rgba(0, 51, 114, 0.6);
  --daima-editor-findMatchBackground: #515c6a;
  --daima-editor-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
  --daima-editor-findRangeHighlightBackground: rgba(58, 61, 65, 0.4);
  --daima-searchEditor-findMatchBackground: rgba(234, 92, 0, 0.22);
  --daima-editor-hoverHighlightBackground: rgba(38, 79, 120, 0.25);
  --daima-editorHoverWidget-background: #001c40;
  --daima-editorHoverWidget-foreground: #cccccc;
  --daima-editorHoverWidget-border: rgba(255, 255, 255, 0.27);
  --daima-editorHoverWidget-statusBarBackground: #00214d;
  --daima-editorLink-activeForeground: #4e94ce;
  --daima-editorInlayHint-foreground: rgba(0, 23, 51, 0.8);
  --daima-editorInlayHint-background: rgba(187, 218, 255, 0.48);
  --daima-editorInlayHint-typeForeground: rgba(0, 23, 51, 0.8);
  --daima-editorInlayHint-typeBackground: rgba(187, 218, 255, 0.48);
  --daima-editorInlayHint-parameterForeground: rgba(0, 23, 51, 0.8);
  --daima-editorInlayHint-parameterBackground: rgba(187, 218, 255, 0.48);
  --daima-editorLightBulb-foreground: #ffcc00;
  --daima-editorLightBulbAutoFix-foreground: #75beff;
  --daima-diffEditor-insertedTextBackground: rgba(156, 204, 44, 0.2);
  --daima-diffEditor-removedTextBackground: rgba(255, 0, 0, 0.4);
  --daima-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --daima-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --daima-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --daima-list-focusOutline: #bbdaff;
  --daima-list-activeSelectionBackground: rgba(255, 255, 255, 0.38);
  --daima-list-activeSelectionForeground: #ffffff;
  --daima-list-inactiveSelectionBackground: rgba(255, 255, 255, 0.25);
  --daima-list-hoverBackground: rgba(255, 255, 255, 0.19);
  --daima-list-dropBackground: #062f4a;
  --daima-list-highlightForeground: #bbdaff;
  --daima-list-focusHighlightForeground: #bbdaff;
  --daima-list-invalidItemForeground: #b89500;
  --daima-list-errorForeground: #f88070;
  --daima-list-warningForeground: #cca700;
  --daima-listFilterWidget-background: #001c40;
  --daima-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --daima-listFilterWidget-noMatchesOutline: #be1100;
  --daima-listFilterWidget-shadow: rgba(0, 0, 0, 0.36);
  --daima-list-filterMatchBackground: rgba(234, 92, 0, 0.33);
  --daima-tree-indentGuidesStroke: #585858;
  --daima-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --daima-tree-tableOddRowsBackground: rgba(204, 204, 204, 0.04);
  --daima-list-deemphasizedForeground: #8c8c8c;
  --daima-quickInputList-focusForeground: #ffffff;
  --daima-quickInputList-focusBackground: rgba(255, 255, 255, 0.38);
  --daima-menu-foreground: #f0f0f0;
  --daima-menu-background: #001733;
  --daima-menu-selectionForeground: #ffffff;
  --daima-menu-selectionBackground: rgba(255, 255, 255, 0.38);
  --daima-menu-separatorBackground: #606060;
  --daima-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
  --daima-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
  --daima-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --daima-editor-snippetFinalTabstopHighlightBorder: #525252;
  --daima-breadcrumb-foreground: rgba(204, 204, 204, 0.8);
  --daima-breadcrumb-background: #002451;
  --daima-breadcrumb-focusForeground: #e0e0e0;
  --daima-breadcrumb-activeSelectionForeground: #e0e0e0;
  --daima-breadcrumbPicker-background: #001c40;
  --daima-merge-currentHeaderBackground: rgba(64, 200, 174, 0.5);
  --daima-merge-currentContentBackground: rgba(64, 200, 174, 0.2);
  --daima-merge-incomingHeaderBackground: rgba(64, 166, 255, 0.5);
  --daima-merge-incomingContentBackground: rgba(64, 166, 255, 0.2);
  --daima-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --daima-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --daima-editorOverviewRuler-currentContentForeground: rgba(64, 200, 174, 0.5);
  --daima-editorOverviewRuler-incomingContentForeground: rgba(
    64,
    166,
    255,
    0.5
  );
  --daima-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
  --daima-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --daima-editorOverviewRuler-selectionHighlightForeground: rgba(
    160,
    160,
    160,
    0.8
  );
  --daima-minimap-findMatchHighlight: #d18616;
  --daima-minimap-selectionOccurrenceHighlight: #676767;
  --daima-minimap-selectionHighlight: #003f8e;
  --daima-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --daima-minimap-warningHighlight: #cca700;
  --daima-minimap-foregroundOpacity: #000000;
  --daima-minimapSlider-background: rgba(121, 121, 121, 0.2);
  --daima-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
  --daima-minimapSlider-activeBackground: rgba(191, 191, 191, 0.2);
  --daima-problemsErrorIcon-foreground: #f14c4c;
  --daima-problemsWarningIcon-foreground: #cca700;
  --daima-problemsInfoIcon-foreground: #3794ff;
  --daima-charts-foreground: #cccccc;
  --daima-charts-lines: rgba(204, 204, 204, 0.5);
  --daima-charts-red: #f14c4c;
  --daima-charts-blue: #3794ff;
  --daima-charts-yellow: #cca700;
  --daima-charts-orange: #d18616;
  --daima-charts-green: #89d185;
  --daima-charts-purple: #b180d7;
  --daima-editor-lineHighlightBackground: #00346e;
  --daima-editor-lineHighlightBorder: #282828;
  --daima-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --daima-editor-symbolHighlightBackground: rgba(234, 92, 0, 0.33);
  --daima-editorCursor-foreground: #ffffff;
  --daima-editorWhitespace-foreground: #404f7d;
  --daima-editorIndentGuide-background: #404f7d;
  --daima-editorIndentGuide-activeBackground: #404f7d;
  --daima-editorLineNumber-foreground: #858585;
  --daima-editorActiveLineNumber-foreground: #c6c6c6;
  --daima-editorLineNumber-activeForeground: #949494;
  --daima-editorRuler-foreground: #5a5a5a;
  --daima-editorCodeLens-foreground: #999999;
  --daima-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
  --daima-editorBracketMatch-border: #888888;
  --daima-editorOverviewRuler-border: rgba(127, 127, 127, 0.3);
  --daima-editorGutter-background: #002451;
  --daima-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --daima-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
  --daima-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
  --daima-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
  --daima-editorOverviewRuler-warningForeground: #cca700;
  --daima-editorOverviewRuler-infoForeground: #3794ff;
  --daima-editorBracketHighlight-foreground1: #ffd700;
  --daima-editorBracketHighlight-foreground2: #da70d6;
  --daima-editorBracketHighlight-foreground3: #179fff;
  --daima-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
  --daima-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
  --daima-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
  --daima-editorBracketHighlight-unexpectedBracket-foreground: rgba(
    255,
    18,
    18,
    0.8
  );
  --daima-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --daima-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --daima-editorUnicodeHighlight-border: #bd9b03;
  --daima-editorUnicodeHighlight-background: rgba(189, 155, 3, 0.15);
  --daima-symbolIcon-arrayForeground: #cccccc;
  --daima-symbolIcon-booleanForeground: #cccccc;
  --daima-symbolIcon-classForeground: #ee9d28;
  --daima-symbolIcon-colorForeground: #cccccc;
  --daima-symbolIcon-constantForeground: #cccccc;
  --daima-symbolIcon-constructorForeground: #b180d7;
  --daima-symbolIcon-enumeratorForeground: #ee9d28;
  --daima-symbolIcon-enumeratorMemberForeground: #75beff;
  --daima-symbolIcon-eventForeground: #ee9d28;
  --daima-symbolIcon-fieldForeground: #75beff;
  --daima-symbolIcon-fileForeground: #cccccc;
  --daima-symbolIcon-folderForeground: #cccccc;
  --daima-symbolIcon-functionForeground: #b180d7;
  --daima-symbolIcon-interfaceForeground: #75beff;
  --daima-symbolIcon-keyForeground: #cccccc;
  --daima-symbolIcon-keywordForeground: #cccccc;
  --daima-symbolIcon-methodForeground: #b180d7;
  --daima-symbolIcon-moduleForeground: #cccccc;
  --daima-symbolIcon-namespaceForeground: #cccccc;
  --daima-symbolIcon-nullForeground: #cccccc;
  --daima-symbolIcon-numberForeground: #cccccc;
  --daima-symbolIcon-objectForeground: #cccccc;
  --daima-symbolIcon-operatorForeground: #cccccc;
  --daima-symbolIcon-packageForeground: #cccccc;
  --daima-symbolIcon-propertyForeground: #cccccc;
  --daima-symbolIcon-referenceForeground: #cccccc;
  --daima-symbolIcon-snippetForeground: #cccccc;
  --daima-symbolIcon-stringForeground: #cccccc;
  --daima-symbolIcon-structForeground: #cccccc;
  --daima-symbolIcon-textForeground: #cccccc;
  --daima-symbolIcon-typeParameterForeground: #cccccc;
  --daima-symbolIcon-unitForeground: #cccccc;
  --daima-symbolIcon-variableForeground: #75beff;
  --daima-editorHoverWidget-highlightForeground: #bbdaff;
  --daima-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --daima-editor-foldBackground: rgba(0, 63, 142, 0.3);
  --daima-editorGutter-foldingControlForeground: #c5c5c5;
  --daima-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --daima-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
  --daima-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
  --daima-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
  --daima-editorOverviewRuler-wordHighlightStrongForeground: rgba(
    192,
    160,
    192,
    0.8
  );
  --daima-peekViewTitle-background: rgba(55, 148, 255, 0.1);
  --daima-peekViewTitleLabel-foreground: #ffffff;
  --daima-peekViewTitleDescription-foreground: rgba(204, 204, 204, 0.7);
  --daima-peekView-border: #3794ff;
  --daima-peekViewResult-background: #001c40;
  --daima-peekViewResult-lineForeground: #bbbbbb;
  --daima-peekViewResult-fileForeground: #ffffff;
  --daima-peekViewResult-selectionBackground: rgba(51, 153, 255, 0.2);
  --daima-peekViewResult-selectionForeground: #ffffff;
  --daima-peekViewEditor-background: #001f33;
  --daima-peekViewEditorGutter-background: #001f33;
  --daima-peekViewResult-matchHighlightBackground: rgba(234, 92, 0, 0.3);
  --daima-peekViewEditor-matchHighlightBackground: rgba(255, 143, 0, 0.6);
  --daima-editorMarkerNavigationError-background: #f14c4c;
  --daima-editorMarkerNavigationError-headerBackground: rgba(241, 76, 76, 0.1);
  --daima-editorMarkerNavigationWarning-background: #cca700;
  --daima-editorMarkerNavigationWarning-headerBackground: rgba(
    204,
    167,
    0,
    0.1
  );
  --daima-editorMarkerNavigationInfo-background: #3794ff;
  --daima-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
  --daima-editorMarkerNavigation-background: #002451;
  --daima-editorSuggestWidget-background: #001c40;
  --daima-editorSuggestWidget-border: #454545;
  --daima-editorSuggestWidget-foreground: #ffffff;
  --daima-editorSuggestWidget-selectedForeground: #ffffff;
  --daima-editorSuggestWidget-selectedBackground: rgba(255, 255, 255, 0.38);
  --daima-editorSuggestWidget-highlightForeground: #bbdaff;
  --daima-editorSuggestWidget-focusHighlightForeground: #bbdaff;
  --daima-editorSuggestWidgetStatus-foreground: rgba(255, 255, 255, 0.5);
  --daima-tab-activeBackground: #002451;
  --daima-tab-unfocusedActiveBackground: #002451;
  --daima-tab-inactiveBackground: #001c40;
  --daima-tab-unfocusedInactiveBackground: #001c40;
  --daima-tab-activeForeground: #ffffff;
  --daima-tab-inactiveForeground: rgba(255, 255, 255, 0.5);
  --daima-tab-unfocusedActiveForeground: rgba(255, 255, 255, 0.5);
  --daima-tab-unfocusedInactiveForeground: rgba(255, 255, 255, 0.25);
  --daima-tab-border: #252526;
  --daima-tab-lastPinnedBorder: rgba(0, 122, 204, 0.5);
  --daima-tab-activeModifiedBorder: #3399cc;
  --daima-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --daima-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --daima-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --daima-editorPane-background: #002451;
  --daima-editorGroupHeader-tabsBackground: #001733;
  --daima-editorGroupHeader-noTabsBackground: #002451;
  --daima-editorGroup-border: #404f7d;
  --daima-editorGroup-dropBackground: rgba(37, 55, 93, 0.67);
  --daima-editorGroup-dropIntoPromptForeground: #cccccc;
  --daima-editorGroup-dropIntoPromptBackground: #001c40;
  --daima-sideBySideEditor-horizontalBorder: #404f7d;
  --daima-sideBySideEditor-verticalBorder: #404f7d;
  --daima-panel-background: #002451;
  --daima-panel-border: rgba(128, 128, 128, 0.35);
  --daima-panelTitle-activeForeground: #e7e7e7;
  --daima-panelTitle-inactiveForeground: rgba(231, 231, 231, 0.6);
  --daima-panelTitle-activeBorder: #e7e7e7;
  --daima-panel-dropBorder: #e7e7e7;
  --daima-panelSection-dropBackground: rgba(37, 55, 93, 0.67);
  --daima-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --daima-panelSection-border: rgba(128, 128, 128, 0.35);
  --daima-banner-background: rgba(255, 255, 255, 0.38);
  --daima-banner-foreground: #ffffff;
  --daima-banner-iconForeground: #3794ff;
  --daima-statusBar-foreground: #ffffff;
  --daima-statusBar-noFolderForeground: #ffffff;
  --daima-statusBar-background: #001126;
  --daima-statusBar-noFolderBackground: #001126;
  --daima-statusBar-focusBorder: #ffffff;
  --daima-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --daima-statusBarItem-focusBorder: #ffffff;
  --daima-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --daima-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
  --daima-statusBarItem-prominentForeground: #ffffff;
  --daima-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --daima-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --daima-statusBarItem-errorBackground: #65132c;
  --daima-statusBarItem-errorForeground: #ffffff;
  --daima-statusBarItem-warningBackground: #7a6400;
  --daima-statusBarItem-warningForeground: #ffffff;
  --daima-activityBar-background: #001733;
  --daima-activityBar-foreground: #ffffff;
  --daima-activityBar-inactiveForeground: rgba(255, 255, 255, 0.4);
  --daima-activityBar-activeBorder: #ffffff;
  --daima-activityBar-dropBorder: #ffffff;
  --daima-activityBarBadge-background: #007acc;
  --daima-activityBarBadge-foreground: #ffffff;
  --daima-statusBarItem-remoteBackground: #0e639c;
  --daima-statusBarItem-remoteForeground: #ffffff;
  --daima-extensionBadge-remoteBackground: #007acc;
  --daima-extensionBadge-remoteForeground: #ffffff;
  --daima-sideBar-background: #001c40;
  --daima-sideBar-dropBackground: rgba(37, 55, 93, 0.67);
  --daima-sideBarSectionHeader-background: rgba(128, 128, 128, 0.2);
  --daima-titleBar-activeForeground: #cccccc;
  --daima-titleBar-inactiveForeground: rgba(204, 204, 204, 0.6);
  --daima-titleBar-activeBackground: #001126;
  --daima-titleBar-inactiveBackground: rgba(0, 17, 38, 0.6);
  --daima-menubar-selectionForeground: #cccccc;
  --daima-menubar-selectionBackground: rgba(90, 93, 94, 0.31);
  --daima-notifications-foreground: #cccccc;
  --daima-notifications-background: #001c40;
  --daima-notificationLink-foreground: #3794ff;
  --daima-notificationCenterHeader-background: #002453;
  --daima-notifications-border: #002453;
  --daima-notificationsErrorIcon-foreground: #f14c4c;
  --daima-notificationsWarningIcon-foreground: #cca700;
  --daima-notificationsInfoIcon-foreground: #3794ff;
  --daima-commandCenter-foreground: #cccccc;
  --daima-commandCenter-activeForeground: #cccccc;
  --daima-commandCenter-activeBackground: rgba(90, 93, 94, 0.31);
  --daima-commandCenter-border: rgba(128, 128, 128, 0.35);
  --daima-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
  --daima-editorCommentsWidget-unresolvedBorder: #3794ff;
  --daima-editorCommentsWidget-rangeBackground: rgba(55, 148, 255, 0.1);
  --daima-editorCommentsWidget-rangeBorder: rgba(55, 148, 255, 0.4);
  --daima-editorCommentsWidget-rangeActiveBackground: rgba(55, 148, 255, 0.1);
  --daima-editorCommentsWidget-rangeActiveBorder: rgba(55, 148, 255, 0.4);
  --daima-editorGutter-commentRangeForeground: rgba(255, 255, 255, 0.25);
  --daima-debugToolBar-background: #001c40;
  --daima-debugIcon-startForeground: #89d185;
  --daima-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --daima-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
  --daima-mergeEditor-change-background: rgba(155, 185, 85, 0.2);
  --daima-mergeEditor-change-word-background: rgba(156, 204, 44, 0.2);
  --daima-mergeEditor-conflict-unhandledUnfocused-border: rgba(
    255,
    166,
    0,
    0.48
  );
  --daima-mergeEditor-conflict-unhandledFocused-border: #ffa600;
  --daima-mergeEditor-conflict-handledUnfocused-border: rgba(
    134,
    134,
    134,
    0.29
  );
  --daima-mergeEditor-conflict-handledFocused-border: rgba(193, 193, 193, 0.8);
  --daima-mergeEditor-conflict-handled-minimapOverViewRuler: rgba(
    173,
    172,
    168,
    0.93
  );
  --daima-mergeEditor-conflict-unhandled-minimapOverViewRuler: #fcba03;
  --daima-mergeEditor-conflictingLines-background: rgba(255, 234, 0, 0.28);
  --daima-settings-headerForeground: #e7e7e7;
  --daima-settings-modifiedItemIndicator: #0c7d9d;
  --daima-settings-headerBorder: rgba(128, 128, 128, 0.35);
  --daima-settings-sashBorder: rgba(128, 128, 128, 0.35);
  --daima-settings-dropdownBackground: #001733;
  --daima-settings-dropdownForeground: #f0f0f0;
  --daima-settings-dropdownBorder: #001733;
  --daima-settings-dropdownListBorder: #454545;
  --daima-settings-checkboxBackground: #001733;
  --daima-settings-checkboxForeground: #f0f0f0;
  --daima-settings-checkboxBorder: #001733;
  --daima-settings-textInputBackground: #001733;
  --daima-settings-textInputForeground: #cccccc;
  --daima-settings-numberInputBackground: #001733;
  --daima-settings-numberInputForeground: #cccccc;
  --daima-settings-focusedRowBackground: rgba(255, 255, 255, 0.11);
  --daima-settings-rowHoverBackground: rgba(255, 255, 255, 0.06);
  --daima-settings-focusedRowBorder: rgba(255, 255, 255, 0.12);
  --daima-terminal-foreground: #cccccc;
  --daima-terminal-selectionBackground: #003f8e;
  --daima-terminal-inactiveSelectionBackground: rgba(0, 63, 142, 0.5);
  --daima-terminalCommandDecoration-defaultBackground: rgba(
    255,
    255,
    255,
    0.25
  );
  --daima-terminalCommandDecoration-successBackground: #1b81a8;
  --daima-terminalCommandDecoration-errorBackground: #f14c4c;
  --daima-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
  --daima-terminal-border: rgba(128, 128, 128, 0.35);
  --daima-terminal-findMatchBackground: #515c6a;
  --daima-terminal-findMatchHighlightBackground: rgba(234, 92, 0, 0.33);
  --daima-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
  --daima-terminal-dropBackground: rgba(37, 55, 93, 0.67);
  --daima-testing-iconFailed: #f14c4c;
  --daima-testing-iconErrored: #f14c4c;
  --daima-testing-iconPassed: #73c991;
  --daima-testing-runAction: #73c991;
  --daima-testing-iconQueued: #cca700;
  --daima-testing-iconUnset: #848484;
  --daima-testing-iconSkipped: #848484;
  --daima-testing-peekBorder: #f14c4c;
  --daima-testing-peekHeaderBackground: rgba(241, 76, 76, 0.1);
  --daima-testing-message-error-decorationForeground: #f14c4c;
  --daima-testing-message-error-lineBackground: rgba(255, 0, 0, 0.2);
  --daima-testing-message-info-decorationForeground: rgba(255, 255, 255, 0.5);
  --daima-welcomePage-tileBackground: #001c40;
  --daima-welcomePage-tileHoverBackground: #00214d;
  --daima-welcomePage-tileShadow: rgba(0, 0, 0, 0.36);
  --daima-welcomePage-progress-background: #001733;
  --daima-welcomePage-progress-foreground: #3794ff;
  --daima-debugExceptionWidget-border: #a31515;
  --daima-debugExceptionWidget-background: #420b0d;
  --daima-ports-iconRunningProcessForeground: #bbdaff;
  --daima-statusBar-debuggingBackground: #001126;
  --daima-statusBar-debuggingForeground: #ffffff;
  --daima-statusBar-offlineBackground: #6c1717;
  --daima-statusBar-offlineForeground: #ffffff;
  --daima-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
  --daima-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --daima-editorGutter-modifiedBackground: #1b81a8;
  --daima-editorGutter-addedBackground: #487e02;
  --daima-editorGutter-deletedBackground: #f14c4c;
  --daima-minimapGutter-modifiedBackground: #1b81a8;
  --daima-minimapGutter-addedBackground: #487e02;
  --daima-minimapGutter-deletedBackground: #f14c4c;
  --daima-editorOverviewRuler-modifiedForeground: rgba(27, 129, 168, 0.6);
  --daima-editorOverviewRuler-addedForeground: rgba(72, 126, 2, 0.6);
  --daima-editorOverviewRuler-deletedForeground: rgba(241, 76, 76, 0.6);
  --daima-debugIcon-breakpointForeground: #e51400;
  --daima-debugIcon-breakpointDisabledForeground: #848484;
  --daima-debugIcon-breakpointUnverifiedForeground: #848484;
  --daima-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
  --daima-debugIcon-breakpointStackframeForeground: #89d185;
  --daima-notebook-cellBorderColor: rgba(255, 255, 255, 0.25);
  --daima-notebook-focusedEditorBorder: #bbdaff;
  --daima-notebookStatusSuccessIcon-foreground: #89d185;
  --daima-notebookStatusErrorIcon-foreground: #a92049;
  --daima-notebookStatusRunningIcon-foreground: #cccccc;
  --daima-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --daima-notebook-selectedCellBackground: rgba(255, 255, 255, 0.25);
  --daima-notebook-selectedCellBorder: rgba(255, 255, 255, 0.25);
  --daima-notebook-focusedCellBorder: #bbdaff;
  --daima-notebook-inactiveFocusedCellBorder: rgba(255, 255, 255, 0.25);
  --daima-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
  --daima-notebook-cellInsertionIndicator: #bbdaff;
  --daima-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
  --daima-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
  --daima-notebookScrollbarSlider-activeBackground: rgba(191, 191, 191, 0.4);
  --daima-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --daima-notebook-cellEditorBackground: #001c40;
  --daima-notebook-editorBackground: #002451;
  --daima-keybindingTable-headerBackground: rgba(204, 204, 204, 0.04);
  --daima-keybindingTable-rowsBackground: rgba(204, 204, 204, 0.04);
  --daima-scm-providerBorder: #454545;
  --daima-debugTokenExpression-name: #c586c0;
  --daima-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
  --daima-debugTokenExpression-string: #ce9178;
  --daima-debugTokenExpression-boolean: #4e94ce;
  --daima-debugTokenExpression-number: #b5cea8;
  --daima-debugTokenExpression-error: #f48771;
  --daima-debugView-exceptionLabelForeground: #cccccc;
  --daima-debugView-exceptionLabelBackground: #6c2022;
  --daima-debugView-stateLabelForeground: #cccccc;
  --daima-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --daima-debugView-valueChangedHighlight: #569cd6;
  --daima-debugConsole-infoForeground: #3794ff;
  --daima-debugConsole-warningForeground: #cca700;
  --daima-debugConsole-errorForeground: #a92049;
  --daima-debugConsole-sourceForeground: #cccccc;
  --daima-debugConsoleInputIcon-foreground: #cccccc;
  --daima-debugIcon-pauseForeground: #75beff;
  --daima-debugIcon-stopForeground: #f48771;
  --daima-debugIcon-disconnectForeground: #f48771;
  --daima-debugIcon-restartForeground: #89d185;
  --daima-debugIcon-stepOverForeground: #75beff;
  --daima-debugIcon-stepIntoForeground: #75beff;
  --daima-debugIcon-stepOutForeground: #75beff;
  --daima-debugIcon-continueForeground: #75beff;
  --daima-debugIcon-stepBackForeground: #75beff;
  --daima-extensionButton-prominentBackground: #0e639c;
  --daima-extensionButton-prominentForeground: #ffffff;
  --daima-extensionButton-prominentHoverBackground: #1177bb;
  --daima-extensionIcon-starForeground: #ff8e00;
  --daima-extensionIcon-verifiedForeground: #3794ff;
  --daima-extensionIcon-preReleaseForeground: #1d9271;
  --daima-extensionIcon-sponsorForeground: #d758b3;
  --daima-terminal-ansiBlack: #111111;
  --daima-terminal-ansiRed: #ff9da4;
  --daima-terminal-ansiGreen: #d1f1a9;
  --daima-terminal-ansiYellow: #ffeead;
  --daima-terminal-ansiBlue: #bbdaff;
  --daima-terminal-ansiMagenta: #ebbbff;
  --daima-terminal-ansiCyan: #99ffff;
  --daima-terminal-ansiWhite: #cccccc;
  --daima-terminal-ansiBrightBlack: #333333;
  --daima-terminal-ansiBrightRed: #ff7882;
  --daima-terminal-ansiBrightGreen: #b8f171;
  --daima-terminal-ansiBrightYellow: #ffe580;
  --daima-terminal-ansiBrightBlue: #80baff;
  --daima-terminal-ansiBrightMagenta: #d778ff;
  --daima-terminal-ansiBrightCyan: #78ffff;
  --daima-terminal-ansiBrightWhite: #ffffff;
  --daima-interactive-activeCodeBorder: #3794ff;
  --daima-interactive-inactiveCodeBorder: rgba(255, 255, 255, 0.25);
  --daima-remoteHub-decorations-addedForegroundColor: #81b88b;
  --daima-remoteHub-decorations-modifiedForegroundColor: #e2c08d;
  --daima-remoteHub-decorations-deletedForegroundColor: #c74e39;
  --daima-remoteHub-decorations-conflictForegroundColor: #e4676b;
  --daima-remoteHub-decorations-incomingAddedForegroundColor: #81b88b;
  --daima-remoteHub-decorations-incomingModifiedForegroundColor: #e2c08d;
  --daima-remoteHub-decorations-incomingDeletedForegroundColor: #c74e39;
  --daima-remoteHub-decorations-incomingRenamedForegroundColor: #73c991;
  --daima-remoteHub-decorations-possibleConflictForegroundColor: #cca700;
  --daima-remoteHub-decorations-workspaceRepositoriesView-hasUncommittedChangesForegroundColor: #e2c08d;
}
